/* Estilos para el modal de ProductsForms */
.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 4, 158, 0.8); /* Fondo con opacidad */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(169, 242, 255, 0.8); /* Sombra con opacidad */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    width: 300px; /* Ajusta el ancho del modal según tus necesidades */
  }
  
  .custom-modal-content {
    text-align: center;
  }
  
  .custom-modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-modal button:hover {
    background-color: #0056b3;
  }
  